JWT_SECRET=secreto
JWT_EXPIRATION=1
JWT_REFRESH_EXPIRATION=1
SPRING_DATASOURCE_URL=jdburl
SPRING_DATASOURCE_USERNAME=dbuser
SPRING_DATASOURCE_PASSWORD=dbpass
SPRING_DATASOURCE_EUREKA_DEFAULTZONE=eurekaserver